# Testing Environment for Python Templates

### General notes/areas for improvement
- Need to build in repeating question if they get it wrong
- Turning fraction questions into multiple choice
- Okay some questions are student inputs? 
- How to tell python to format a,b,c,d as strings versus answer for g4_number_sense_fraction_ordering() as a list and fraction questions as inputs
- Decimal place value infinite loop
- g4_number_sense_decimal_round() too easy for certain numbers?
- sometimes g4_number_sense_decimal_place_value() runs and others it is an infinite loop
- g4_number_sense_decimal_in_words() doesn't read like SOL does
- how to get answer key to display correctly on g4_number_sense_big_number_in_words()
- not sure if g4_geometry_shapes_angles() is too hard
- Next steps
    - Right now function creates an infinite loop for searching by question sometimes and other times works- seems to work only on small numbers- maybe that's because it hits the graphical questions? 

### Possible additions
- picture questions
- Three next steps
    - Dashboard
    - Training set for generation model
    - Pictures/shapes
    - Create a dataframe with class, standard, topic and gradelevel for each question and then query it 
        - do this with the inspect command
            - if it is a class extract all this from the class 
            - store dataframe as a CSV file
        - dataframe query, select rows with replacement bsample- random.choices()
        - Then turn it into a database 
    - Go through code and see everywhere I use a while loop and see if there is a faster way to do it using pandas and numpy instead 
    - Come with examples for shape questions to work on next week - both simple and complicated

Next: Get rid of while loops, function to pull questions, how to turn it into database, how to return two things without a tuple (running decimal chart), dropping missing rows from camelot DF and storing images in a DB, decimal place value, then fractions, then answer key on big number in words, then formatting of responses and repeating prompts until they answer a question right

In [1]:
import templates
import random
import inspect
import math
from fractions import Fraction
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [5]:
x = templates.g4_measurement_gallons_to_pints()

In [6]:
x.print_question()

'Gina has 2 gallons of iced tea. What is the total number of pints of iced tea she has?'

In [7]:
x.print_choices()

a  32
b  40
c  10
d  16

In [8]:
x.student_answer('b')

"You didn't get the right answer this time. Keep trying and don't give up!"

In [ ]:

        
       
        
        
        
        
        
        while len(self.wrong_answers)<3:
            wrong= random.randint(1,9)*16
            if wrong != self.answer and wrong not in self.wrong_answers: 
                self.wrong_answers.append(wrong)
        self.choices = [self.answer] + self.wrong_answers
        random.shuffle(self.choices)
        self.correct_index = self.choices.index(self.answer)
        self.correct_letter = ['a', 'b', 'c', 'd'][self.correct_index]

In [13]:
classes = []
standards = []
topics = []
grade_levels = []
for name, obj in inspect.getmembers(templates):
    if inspect.isclass(obj):
        classes.append(obj)
classes

[templates.g4_algebra_make_equation_true,
 templates.g4_computation_big_num_addition,
 templates.g4_computation_big_num_subtraction,
 templates.g4_computation_common_factor_word_problem,
 templates.g4_computation_decimal_addition,
 templates.g4_computation_decimal_subtraction_drinks,
 templates.g4_computation_division_statement,
 templates.g4_computation_fraction_addition,
 templates.g4_computation_fraction_subtraction,
 templates.g4_computation_lcm_word_problem,
 templates.g4_computation_multiplication_double_bags,
 templates.g4_computation_multiplication_female_bags,
 templates.g4_computation_multiplication_fortnite,
 templates.g4_computation_multiplication_male_bags,
 templates.g4_computation_multiplication_selling_items,
 templates.g4_computation_multiplication_situps,
 templates.g4_computation_multiplication_specific_method,
 templates.g4_computation_multiplication_two_digit_word_problem,
 templates.g4_computation_multiplication_with_drinks,
 templates.g4_computation_subtraction_word_problem,
 templates.g4_estimation_division_running_problem,
 templates.g4_estimation_multiplication_store,
 templates.g4_functions_weather_graph,
 templates.g4_geometry_shapes_angles,
 templates.g4_measurement_gallons_to_pints,
 templates.g4_measurement_meters_to_millimeters,
 templates.g4_measurement_pounds_to_ounces,
 templates.g4_measurement_time_elapsed_sports_team,
 templates.g4_number_sense__comparison_running_table,
 templates.g4_number_sense_big_num_comparison,
 templates.g4_number_sense_big_number_in_words,
 templates.g4_number_sense_decimal_in_words,
 templates.g4_number_sense_decimal_largest_value,
 templates.g4_number_sense_decimal_place_value,
 templates.g4_number_sense_decimal_round,
 templates.g4_number_sense_fraction_ordering,
 templates.g4_number_sense_identify_fraction_number_line,
 templates.g4_number_sense_place_value_big_number_digit,
 templates.g4_number_sense_place_value_big_number_value,
 templates.g4_number_sense_round_big_number,
 templates.g4_pattern_increasing_numbers,
 templates.g4_pattern_number_of_teams_table,
 templates.g4_probability_coin_flip_number_line,
 templates.g4_probability_dice_roll_number_line,
 templates.g4_probability_no_chance]

In [14]:
for j in range(len(classes)):
    x = classes[j]()
    standard = x.attr1 
    topic = x.attr2 
    topics.append(topic)
    grade_level = x.attr3 
    standards.append(standard)
    grade_levels.append(grade_level)

/solmathdashboard/app/Templates/templates.py:1076: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  wrong = np.unique(wrong[wrong!=answer])

In [15]:
df = pd.DataFrame({"Class": classes, "Grade_level": grade_levels, "Standard": standards, "Topic": topics})
df

,Class,Grade_level,Standard,Topic
0,<class 'templates.g4_algebra_make_equation_true'>,4,"Probability, Statistics, Patterns, Functions, ...",Algebra
1,<class 'templates.g4_computation_big_num_addit...,4,Computation and Estimation,Addition/Subtraction
2,<class 'templates.g4_computation_big_num_subtr...,4,Computation and Estimation,Addition/Subtraction
3,<class 'templates.g4_computation_common_factor...,4,Computation and Estimation,Common Factor
4,<class 'templates.g4_computation_decimal_addit...,4,Computation and Estimation,Decimal Addition/Subtraction
5,<class 'templates.g4_computation_decimal_subtr...,4,Computation and Estimation,Decimal Addition/Subtraction
6,<class 'templates.g4_computation_division_stat...,4,Computation and Estimation,Division
7,<class 'templates.g4_computation_fraction_addi...,4,Computation and Estimation,Fraction Addition/Subtraction
8,<class 'templates.g4_computation_fraction_subt...,4,Computation and Estimation,Fraction Addition/Subtraction
9,<class 'templates.g4_computation_lcm_word_prob...,4,Computation and Estimation,Least Common Multiple
10,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
11,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
12,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
13,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
14,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
15,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
16,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
17,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
18,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
19,<class 'templates.g4_computation_subtraction_w...,4,Computation and Estimation,Addition/Subtraction
20,<class 'templates.g4_estimation_division_runni...,4,Computation and Estimation,Division
21,<class 'templates.g4_estimation_multiplication...,4,Computation and Estimation,Multiplication
22,<class 'templates.g4_functions_weather_graph'>,4,"Probability, Statistics, Patterns, Functions, ...",Graph
23,<class 'templates.g4_geometry_shapes_angles'>,4,Measurement and Geometry,Geometry
24,<class 'templates.g4_measurement_gallons_to_pi...,4,Measurement and Geometry,Measurement
25,<class 'templates.g4_measurement_meters_to_mil...,4,Measurement and Geometry,Measurement
26,<class 'templates.g4_measurement_pounds_to_oun...,4,Measurement and Geometry,Measurement
27,<class 'templates.g4_measurement_time_elapsed_...,4,Measurement and Geometry,Time Elapsed
28,<class 'templates.g4_number_sense__comparison_...,4,Number and Number Sense,Decimal Comparison
29,<class 'templates.g4_number_sense_big_num_comp...,4,Number and Number Sense,Number Comparison
30,<class 'templates.g4_number_sense_big_number_i...,4,Number and Number Sense,Number in Words
31,<class 'templates.g4_number_sense_decimal_in_w...,4,Number and Number Sense,Decimal in Words
32,<class 'templates.g4_number_sense_decimal_larg...,4,Number and Number Sense,Decimal Comparison
33,<class 'templates.g4_number_sense_decimal_plac...,4,Number and Number Sense,Decimal Place Value
34,<class 'templates.g4_number_sense_decimal_round'>,4,Number and Number Sense,Decimal Rounding
35,<class 'templates.g4_number_sense_fraction_ord...,4,Number and Number Sense,Fraction Ordering
36,<class 'templates.g4_number_sense_identify_fra...,4,Number and Number Sense,Fraction Number Line
37,<class 'templates.g4_number_sense_place_value_...,4,Number and Number Sense,Place Value
38,<class 'templates.g4_number_sense_place_value_...,4,Number and Number Sense,Place Value
39,<class 'templates.g4_number_sense_round_big_nu...,4,Number and Number Sense,Rounding
40,<class 'templates.g4_pattern_increasing_numbers'>,4,"Probability, Statistics, Patterns, Functions, ...",Patterns
41,<class 'templates.g4_pattern_number_of_teams_t...,4,"Probability, Statistics, Patterns, Functions, ...",Patterns
42,<class 'templates.g4_probability_coin_flip_num...,4,"Probability, Statistics, Patterns, Functions, ...",Probability
43,<class 'templates.g4_probability_dice_roll_num...,4,"Probability, Statistics, Patterns, Functions, ...",Probability
44,<class 'templates.g4_probability_no_chance'>,4,"Probability, Statistics, Patterns, Functions, ...",Probability

In [4]:
df.query("Standard == 'Computation and Estimation'")

,Class,Grade_level,Standard,Topic
1,<class 'templates.g4_computation_big_num_addit...,4,Computation and Estimation,Addition/Subtraction
2,<class 'templates.g4_computation_big_num_subtr...,4,Computation and Estimation,Addition/Subtraction
3,<class 'templates.g4_computation_common_factor...,4,Computation and Estimation,Common Factor
4,<class 'templates.g4_computation_decimal_addit...,4,Computation and Estimation,Decimal Addition/Subtraction
5,<class 'templates.g4_computation_decimal_subtr...,4,Computation and Estimation,Decimal Addition/Subtraction
6,<class 'templates.g4_computation_division_stat...,4,Computation and Estimation,Division
7,<class 'templates.g4_computation_fraction_addi...,4,Computation and Estimation,Fraction Addition/Subtraction
8,<class 'templates.g4_computation_fraction_subt...,4,Computation and Estimation,Fraction Addition/Subtraction
9,<class 'templates.g4_computation_lcm_word_prob...,4,Computation and Estimation,Least Common Multiple
10,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
11,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
12,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
13,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
14,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
15,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
16,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
17,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
18,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
19,<class 'templates.g4_computation_subtraction_w...,4,Computation and Estimation,Addition/Subtraction
20,<class 'templates.g4_estimation_multiplication...,4,Computation and Estimation,Multiplication

In [9]:
def pull_question(grade_level, standard, topic, num_questions):
    classes = []
    for name, obj in inspect.getmembers(templates):
        if inspect.isclass(obj):
            classes.append(obj)

    while num_questions>0:
        i = random.choice(classes)
        x = i()
        if x.attr1 == standard and x.attr2 == topic and x.attr3 == grade_level:
            print(x.print_question(), x.print_choices())
            num_questions = num_questions -1 
        else:
            pass

In [ ]:
pull_question(4, "Computation and Estimation", "Multiplication", 12)

At a store, Fortnite action figures cost $16 each. Which is closest to the total cost of 79 Fortnite action figures?
a  $1,200
b  $1,300
c  $1,000
d    $300
What is the product of 20 and 82?
a  2295
b  1640
c   102
d  2700
Antonio has 13 profiles with 9 Fornite skins. How many Fornite skins does he have?
a  117
b   22
c   36
d  119
Levi has 10 profiles with 15 Fornite skins. How many Fornite skins does he have?
a   25
b   45
c  221
d  150
Use grouping to find 2 X 8.
a  10
b  60
c  16
d  15
What is the product of 88 and 68?
a  7040
b  2470
c  5984
d   156
Batman has 15 bags of 6 M&Ms. How many M&Ms does he have?
a  21
b  49
c  72
d  90
Use grouping to find 7 X 8.
a  15
b  70
c  56
d  18
Use grouping to find 2 X 9.
a  25
b  81
c  18
d  11
Levi has 10 bags of 8 Skittles. How many Skittles does he have?
a  18
b  80
c   8
d  28

In [ ]:
x.attr2

In [ ]:
classes = []
for name, obj in inspect.getmembers(templates):
    if inspect.isclass(obj):
        classes.append(obj)

for i in classes:
    x = i()
    print(x.print_question())

classes

In [ ]:
x.answer

In [ ]:
class Dog:

    def __init__(self):
    
        self.tricks = random.randint(1,10) 
        self.number = random.randint(1,10)
        self.answer = self.tricks * self.number# creates a new empty list for each dog

    def add_trick(self, trick):
        self.tricks.append(trick)

In [ ]:
d = Dog()

In [ ]:
d.number

In [ ]:
d.answer

In [ ]:
d.print_question()

In [ ]:
d.student_answer(80)

In [ ]:
d.student_answer(6)

In [ ]:
r.print_question()

In [ ]:
x = templates.g4_computation_multplication_specific_method()

In [ ]:
x.print_question()

In [ ]:
x.student_answer(6)

In [ ]:
class g4_computation_multplication_specific_method():
    def __init__(self):
        
        number1 = random.randint(2, 10)
        number2 = random.randint(2, 10)
        self.answer = number1 * number2
        self.question= "Use {method} to find {number1} X {number2}.".format(method = 'random.choice(methods)', number1 = number1, number2 = number2)
    
    def print_question(self):
        return self.question
    
    def student_answer(self, student_answer):
        if student_answer == self.answer:
            return "You got the right answer. Nice work!"
        if student_answer!= self.answer:
            return "Your answer is incorrect. Please try again!"

In [ ]:
d = g4_computation_multplication_specific_method()

In [ ]:
d.print_question()

In [ ]:
d.student_answer(20)

In [ ]:
number1 = random.randint(1, 10)
number2 = random.randint(1, 10)
number3 = random.randint(1, 10)
number4 = random.randint(1, 10) 
answer = (number1/number2) + (number3/number4)
Fraction(answer)

In [ ]:
number1 = random.randint(1, 10)
number3 = random.randint(1, 10)
Fraction(number1, number3)

In [ ]:
print(placeValue(24, 4))

In [ ]:
def get_digit(number, n):
    return number // 10**n % 10

In [ ]:
get_digit(122.55, -2)

In [ ]:
N = random.randint(1000,1999)

In [ ]:
D= get_digit(N,3)

In [ ]:
print(placeValue(N,D))

In [ ]:
5.55%1

In [ ]:
get_digit(.0510000001, -3)

In [ ]:
math.lcm(2,5,7)

In [ ]:
templates.pull_question("Computation and Estimation", "Multiplication")

In [ ]:
pull_question(4, "Computation and Estimation", "Multiplication", 11)

In [ ]:
def pull_question(grade_level, standard, topic, num_questions):
    classes = []
    for name, obj in inspect.getmembers(templates):
        if inspect.isclass(obj):
            classes.append(obj)

    while num_questions>0:
        i = random.choice(classes)
        x = i()
        if x.attr1 == standard and x.attr2 == topic and x.attr3 == grade_level:
            print(x.print_question(), x.print_choices())
            num_questions = num_questions -1 
        else:
            pass

In [ ]:
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday']
day1= random.randint(0,70)
day2=random.randint(0,70)
day3=random.randint(0,70)
day4=random.randint(0,70)
temperatures = [day1, day2, day3, day4]


plt.plot(days, temperatures)
plt.title('Morning Temperature')
plt.xlabel('Day')
plt.ylabel('Temperature (Degrees F)')
plt.show()

In [ ]:
import numpy as np

In [ ]:
def closest_value(input_list, input_value):
    arr = np.asarray(input_list)
    i = (np.abs(arr-input_value)).argmin()
    return i

In [ ]:
i =closest_value(, 70)
Day[i]

In [3]:
x = g4_estimation_division_running_problem()

40
20
50
30

In [5]:
x = g4_number_sense_decimal_largest_value()

In [6]:
x.print_question()

'Which of the four following numbers is largest? 13.24, 13.96, 13.83, 13.66'

In [7]:
x.print_choices()

a  13.83
b  13.96
c  13.24
d  13.66

In [8]:
x.student_answer('d')

"You didn't get the right answer this time. Keep trying and don't give up!"

In [26]:
methods = ["repeated addition", "grouping", "the box method", "the standard algorithm", "any method you want"]
class g4_computation_multiplication_specific_method():
    def __init__(self):
        
        self.attr1 = "Computation and Estimation"
        self.attr2 = "Multiplication"
        self.attr3 = 4
        number1 = random.randint(2, 10)
        number2 = random.randint(2, 10)
        self.answer = number1 * number2
        
        
        #New code
        self.question= "Use {method} to find {number1} X {number2}.".format(method = random.choice(methods), number1 = number1, number2 = number2)
        self.wrong_answers = []
        wrong = number1 + number2
        self.wrong_answers.append(wrong)
        wrong1 = np.random.randint(low = 2,high=10,size=100)
        wrong2 = np.random.randint(low = 2,high=10,size=100)
        wrong = wrong1*wrong2
        wrong = np.unique(wrong[wrong!=self.answer])[0:2].tolist()
        for i in wrong:
            self.wrong_answers.append(i)
        self.choices = [self.answer] + self.wrong_answers
        random.shuffle(self.choices)
        self.correct_index = self.choices.index(self.answer)
        self.correct_letter = ['a', 'b', 'c', 'd'][self.correct_index]
        
    def print_question(self):
        return self.question
    
    def print_choices(self):
        d = pd.DataFrame(self.choices, ['a', 'b', 'c', 'd'])
        d.columns = ['']
        return d
    
    def student_answer(self, student_answer):
        if student_answer not in ['a', 'b', 'c', 'd']:
            return "Please type a, b, c, or d."
        if student_answer == self.correct_letter:
            return "You got the right answer. Nice work!"
        if student_answer!= self.correct_letter:
            return "You didn't get the right answer this time. Keep trying and don't give up!"

In [27]:
x = g4_computation_multiplication_specific_method()

In [28]:
x.print_question()

'Use grouping to find 8 X 4.'

In [29]:
x.choices

[6, 4, 12, 32]

In [30]:
x.print_choices()

a   6
b   4
c  12
d  32

In [28]:
x.student_answer('a')

"You didn't get the right answer this time. Keep trying and don't give up!"

In [6]:
answer= 20
wrong1 = np.random.randint(low = 2,high=10,size=5)
wrong2 = np.random.randint(low = 20,high=60,size=5) *wrong1
wrong = wrong2/wrong1
wrong = np.round(wrong, -2)
#wrong = np.unique(wrong[wrong!=answer])
np.random.shuffle(wrong)
#wrong = wrong[0:3].tolist()

In [7]:
wrong

array([  0., 100.,   0.,   0., 100.])