# Testing Environment for Python Templates

### General notes/areas for improvement
- Need to build in repeating question if they get it wrong
- g4_number_sense_decimal_round() too easy for certain numbers?
- g4_number_sense_decimal_in_words() doesn't read like SOL does
- not sure if g4_geometry_shapes_angles() is too hard

### Possible additions
- picture questions
- Three next steps
    - Dashboard
    - Training set for generation model
    - Pictures/shapes
    - Create a dataframe with class, standard, topic and gradelevel for each question and then query it 
        - do this with the inspect command
            - if it is a class extract all this from the class 
            - store dataframe as a CSV file
        - dataframe query, select rows with replacement bsample- random.choices()
        - Then turn it into a database 
    - Go through code and see everywhere I use a while loop and see if there is a faster way to do it using pandas and numpy instead 
    - Come with examples for shape questions to work on next week - both simple and complicated

Next: Get rid of while loops, proof function to pull questions, how to turn it into database, dropping missing rows from camelot DF and storing images in a DB, then fractions

Next: Turn question pulling process into a database and query it - use sqlite, use where clause in pull questions, read chapter 12 of the book

In [12]:
import templates
import random
import inspect
import math
from fractions import Fraction
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from IPython.display import display, Markdown
import sqlite3

In [2]:
x = templates.g4_number_sense__comparison_running_table()

In [3]:
x.print_question()

| Name  | Time (in seconds) |
|-------|-------------------|
| Sam | 13.23|
| Flora | 13.97|
| Robin | 13.19|
| Gina  | 13.91|

'The table shows the time it took 4 students to run a 40 meter race. Which time was the slowest time?'

In [4]:
x.print_choices()

a  13.19
b  13.91
c  13.97
d  13.23

In [5]:
x.student_answer('d')

"You didn't get the right answer this time. Keep trying and don't give up!"

In [6]:
classes = []
standards = []
topics = []
grade_levels = []
for name, obj in inspect.getmembers(templates):
    if inspect.isclass(obj):
        classes.append(obj)
        
classes

[templates.g4_algebra_make_equation_true,
 templates.g4_computation_big_num_addition,
 templates.g4_computation_big_num_subtraction,
 templates.g4_computation_decimal_addition,
 templates.g4_computation_decimal_subtraction_drinks,
 templates.g4_computation_division_statement,
 templates.g4_computation_fraction_addition,
 templates.g4_computation_fraction_subtraction,
 templates.g4_computation_largest_common_factor_word_problem,
 templates.g4_computation_lcm_word_problem,
 templates.g4_computation_multiplication_double_bags,
 templates.g4_computation_multiplication_female_bags,
 templates.g4_computation_multiplication_fortnite,
 templates.g4_computation_multiplication_male_bags,
 templates.g4_computation_multiplication_selling_items,
 templates.g4_computation_multiplication_situps,
 templates.g4_computation_multiplication_specific_method,
 templates.g4_computation_multiplication_two_digit_word_problem,
 templates.g4_computation_multiplication_with_drinks,
 templates.g4_computation_subtraction_word_problem,
 templates.g4_estimation_division_running_problem,
 templates.g4_estimation_multiplication_store,
 templates.g4_functions_weather_graph,
 templates.g4_geometry_shapes_angles,
 templates.g4_measurement_gallons_to_pints,
 templates.g4_measurement_meters_to_millimeters,
 templates.g4_measurement_pounds_to_ounces,
 templates.g4_measurement_time_elapsed_sports_team,
 templates.g4_number_sense__comparison_running_table,
 templates.g4_number_sense_big_num_comparison,
 templates.g4_number_sense_big_number_in_words,
 templates.g4_number_sense_decimal_in_words,
 templates.g4_number_sense_decimal_largest_value,
 templates.g4_number_sense_decimal_place_value,
 templates.g4_number_sense_decimal_round,
 templates.g4_number_sense_fraction_ordering,
 templates.g4_number_sense_identify_fraction_number_line,
 templates.g4_number_sense_place_value_big_number_digit,
 templates.g4_number_sense_place_value_big_number_value,
 templates.g4_number_sense_round_big_number,
 templates.g4_pattern_increasing_numbers,
 templates.g4_pattern_number_of_teams_table,
 templates.g4_probability_coin_flip_number_line,
 templates.g4_probability_dice_roll_number_line,
 templates.g4_probability_no_chance]

In [7]:
for j in range(len(classes)):
    x = classes[j]()
    print(x)
    standard = x.attr1 
    topic = x.attr2 
    topics.append(topic)
    grade_level = x.attr3 
    standards.append(standard)
    grade_levels.append(grade_level)

<templates.g4_algebra_make_equation_true object at 0xffff4d8f3610>
<templates.g4_computation_big_num_addition object at 0xffff839f0910>
<templates.g4_computation_big_num_subtraction object at 0xffff839f0790>
<templates.g4_computation_decimal_addition object at 0xffff839f0910>
<templates.g4_computation_decimal_subtraction_drinks object at 0xffff839f0790>
<templates.g4_computation_division_statement object at 0xffff839f0910>
<templates.g4_computation_fraction_addition object at 0xffff839f0790>
<templates.g4_computation_fraction_subtraction object at 0xffff839f0910>
<templates.g4_computation_largest_common_factor_word_problem object at 0xffff839f0790>
<templates.g4_computation_lcm_word_problem object at 0xffff839f0910>
<templates.g4_computation_multiplication_double_bags object at 0xffff839f0790>
<templates.g4_computation_multiplication_female_bags object at 0xffff839f0910>
<templates.g4_computation_multiplication_fortnite object at 0xffff839f0790>
<templates.g4_computation_multiplication_male_bags object at 0xffff839f0910>
<templates.g4_computation_multiplication_selling_items object at 0xffff839f0790>
<templates.g4_computation_multiplication_situps object at 0xffff681ab010>
<templates.g4_computation_multiplication_specific_method object at 0xffff839f0790>
<templates.g4_computation_multiplication_two_digit_word_problem object at 0xffff681ab010>
<templates.g4_computation_multiplication_with_drinks object at 0xffff839f0790>
<templates.g4_computation_subtraction_word_problem object at 0xffff681ab010>
<templates.g4_estimation_division_running_problem object at 0xffff839f0790>
<templates.g4_estimation_multiplication_store object at 0xffff681ab010>
<templates.g4_functions_weather_graph object at 0xffff839f0790>
<templates.g4_geometry_shapes_angles object at 0xffff681ab010>
<templates.g4_measurement_gallons_to_pints object at 0xffff839f0790>
<templates.g4_measurement_meters_to_millimeters object at 0xffff681ab010>
<templates.g4_measurement_pounds_to_ounces object at 0xffff839f0790>
<templates.g4_measurement_time_elapsed_sports_team object at 0xffff681ab010>
<templates.g4_number_sense__comparison_running_table object at 0xffff839f0790>
<templates.g4_number_sense_big_num_comparison object at 0xffff681ab010>
<templates.g4_number_sense_big_number_in_words object at 0xffff839f0790>
<templates.g4_number_sense_decimal_in_words object at 0xffff681ab010>
<templates.g4_number_sense_decimal_largest_value object at 0xffff839f0790>
<templates.g4_number_sense_decimal_place_value object at 0xffff681ab010>
<templates.g4_number_sense_decimal_round object at 0xffff839f0790>
<templates.g4_number_sense_fraction_ordering object at 0xffff681ab010>
<templates.g4_number_sense_identify_fraction_number_line object at 0xffff839f0790>
<templates.g4_number_sense_place_value_big_number_digit object at 0xffff681ab010>
<templates.g4_number_sense_place_value_big_number_value object at 0xffff839f0790>
<templates.g4_number_sense_round_big_number object at 0xffff681ab010>
<templates.g4_pattern_increasing_numbers object at 0xffff839f0790>
<templates.g4_pattern_number_of_teams_table object at 0xffff681ab010>
<templates.g4_probability_coin_flip_number_line object at 0xffff839f0790>
<templates.g4_probability_dice_roll_number_line object at 0xffff681ab010>
<templates.g4_probability_no_chance object at 0xffff839f0790>

/solmathdashboard/app/Templates/templates.py:736: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  wrong = np.unique(wrong[wrong!=answer])
/solmathdashboard/app/Templates/templates.py:678: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  wrong = np.unique(wrong[wrong!=answer])
/solmathdashboard/app/Templates/templates.py:1110: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  wrong = np.unique(wrong[wrong!=answer])
/solmathdashboard/app/Templates/templates.py:1168: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  wrong = np.unique(wrong[wrong!=answer])

In [8]:
df = pd.DataFrame({"Class": classes, "Grade_level": grade_levels, "Standard": standards, "Topic": topics})
df.to_csv("4th grade dataframe")
df

,Class,Grade_level,Standard,Topic
0,<class 'templates.g4_algebra_make_equation_true'>,4,"Probability, Statistics, Patterns, Functions, ...",Algebra
1,<class 'templates.g4_computation_big_num_addit...,4,Computation and Estimation,Addition/Subtraction
2,<class 'templates.g4_computation_big_num_subtr...,4,Computation and Estimation,Addition/Subtraction
3,<class 'templates.g4_computation_decimal_addit...,4,Computation and Estimation,Decimal Addition/Subtraction
4,<class 'templates.g4_computation_decimal_subtr...,4,Computation and Estimation,Decimal Addition/Subtraction
5,<class 'templates.g4_computation_division_stat...,4,Computation and Estimation,Division
6,<class 'templates.g4_computation_fraction_addi...,4,Computation and Estimation,Fraction Addition/Subtraction
7,<class 'templates.g4_computation_fraction_subt...,4,Computation and Estimation,Fraction Addition/Subtraction
8,<class 'templates.g4_computation_largest_commo...,4,Computation and Estimation,Common Factor
9,<class 'templates.g4_computation_lcm_word_prob...,4,Computation and Estimation,Least Common Multiple
10,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
11,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
12,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
13,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
14,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
15,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
16,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
17,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
18,<class 'templates.g4_computation_multiplicatio...,4,Computation and Estimation,Multiplication
19,<class 'templates.g4_computation_subtraction_w...,4,Computation and Estimation,Addition/Subtraction
20,<class 'templates.g4_estimation_division_runni...,4,Computation and Estimation,Division
21,<class 'templates.g4_estimation_multiplication...,4,Computation and Estimation,Multiplication
22,<class 'templates.g4_functions_weather_graph'>,4,"Probability, Statistics, Patterns, Functions, ...",Graph
23,<class 'templates.g4_geometry_shapes_angles'>,4,Measurement and Geometry,Geometry
24,<class 'templates.g4_measurement_gallons_to_pi...,4,Measurement and Geometry,Measurement
25,<class 'templates.g4_measurement_meters_to_mil...,4,Measurement and Geometry,Measurement
26,<class 'templates.g4_measurement_pounds_to_oun...,4,Measurement and Geometry,Measurement
27,<class 'templates.g4_measurement_time_elapsed_...,4,Measurement and Geometry,Time Elapsed
28,<class 'templates.g4_number_sense__comparison_...,4,Number and Number Sense,Decimal Comparison
29,<class 'templates.g4_number_sense_big_num_comp...,4,Number and Number Sense,Number Comparison
30,<class 'templates.g4_number_sense_big_number_i...,4,Number and Number Sense,Number in Words
31,<class 'templates.g4_number_sense_decimal_in_w...,4,Number and Number Sense,Decimal in Words
32,<class 'templates.g4_number_sense_decimal_larg...,4,Number and Number Sense,Decimal Comparison
33,<class 'templates.g4_number_sense_decimal_plac...,4,Number and Number Sense,Decimal Place Value
34,<class 'templates.g4_number_sense_decimal_round'>,4,Number and Number Sense,Decimal Rounding
35,<class 'templates.g4_number_sense_fraction_ord...,4,Number and Number Sense,Fraction Ordering
36,<class 'templates.g4_number_sense_identify_fra...,4,Number and Number Sense,Fraction Number Line
37,<class 'templates.g4_number_sense_place_value_...,4,Number and Number Sense,Place Value
38,<class 'templates.g4_number_sense_place_value_...,4,Number and Number Sense,Place Value
39,<class 'templates.g4_number_sense_round_big_nu...,4,Number and Number Sense,Rounding
40,<class 'templates.g4_pattern_increasing_numbers'>,4,"Probability, Statistics, Patterns, Functions, ...",Patterns
41,<class 'templates.g4_pattern_number_of_teams_t...,4,"Probability, Statistics, Patterns, Functions, ...",Patterns
42,<class 'templates.g4_probability_coin_flip_num...,4,"Probability, Statistics, Patterns, Functions, ...",Probability
43,<class 'templates.g4_probability_dice_roll_num...,4,"Probability, Statistics, Patterns, Functions, ...",Probability
44,<class 'templates.g4_probability_no_chance'>,4,"Probability, Statistics, Patterns, Functions, ...",Probability

In [24]:
df[topic].value_counts()

KeyError: 'Probability'

In [15]:
questions_db = sqlite3.connect("questions.db")
#creates empty DB file in your folder
df.to_sql('questions', questions_db, index=False, chunksize = 1000, if_exists='replace')

InterfaceError: Error binding parameter 0 - probably unsupported type.

In [11]:
def pull_question_with_topic(grade_level, standard, topic, num_questions):
    import warnings
    warnings.filterwarnings('ignore')
    temp_df= df.query("Standard == '{standard}' & Topic == '{topic}' & Grade_level == {grade_level}".format(standard=standard, grade_level=grade_level, topic=topic))
    temp_df = temp_df.sample(n = num_questions, replace= True)
    for i in range(num_questions):
        target_class = temp_df.iloc[i]['Class']
        x= target_class()
        print(x.print_question())
        try:
            print(x.print_choices())
            student_answer = input()
            print(x.student_answer(student_answer))
        except:
            student_answer = input()
            if "Fraction Addition/Subtraction" in x.attr2:
                try:
                    student_answer= student_answer.split("/")
                    num = int(student_answer[0])
                    denom = int(student_answer[1])
                    student_answer = num/denom
                    print(x.student_answer(student_answer))
                except:
                    print("Next time, please enter your answer as a fraction such as 1/8.")
            if "Fraction Ordering" in x.attr2:
                try:
                    fraction = student_answer.split(", ")
                    numbers= []
                    for item in fraction:
                        item = item.split("/")
                        numbers.append(item)
                    numbers2= []
                    for number in numbers:
                        num = int(number[0])
                        denom= int(number[1])
                        answer = num/denom
                        numbers2.append(answer)
                    student_answer = numbers2
                    print(x.student_answer(student_answer))
                except:
                    print("Next time, please enter your answer as a list of fractions separated by commas and a space.")
            else:
                print(x.student_answer(student_answer))

In [10]:
pull_question_with_topic(4, "Number and Number Sense", "Fraction Ordering", 2)

Order these fractions from least to greatest: 8/9, 9/1, 2/9

 d

Please enter your answer as a list of fractions separated by commas and a space.
Order these fractions from least to greatest: 4/6, 3/7, 1/7

 d

Please enter your answer as a list of fractions separated by commas and a space.

In [ ]:
pull_question_with_topic(4, "Computation and Estimation", "Multiplication", 1)

What is the product of 34 and 25?

a    850
b  7,252
c  3,976
d     59

 d

You didn't get the right answer this time. Keep trying and don't give up!

 b

You didn't get the right answer this time. Keep trying and don't give up!

 c

You didn't get the right answer this time. Keep trying and don't give up!

 a

You got the right answer. Nice work!

In [19]:
def pull_question_no_topic(grade_level, standard, num_questions):
    import warnings
    warnings.filterwarnings('ignore')
    temp_df= df.query("Standard == '{standard}' & Grade_level == {grade_level}".format(standard=standard, grade_level=grade_level, topic=topic))
    temp_df = temp_df.sample(n = num_questions, replace= True)
    for i in range(num_questions):
        target_class = temp_df.iloc[i]['Class']
        x= target_class()
        print(x.print_question())
        try:
            print(x.print_choices())
            student_answer = input()
            print(x.student_answer(student_answer))
        except:
            student_answer = input()
            if "Fraction Addition/Subtraction" in x.attr2:
                try:
                    student_answer= student_answer.split("/")
                    num = int(student_answer[0])
                    denom = int(student_answer[1])
                    student_answer = num/denom
                    print(x.student_answer(student_answer))
                except:
                    print("Next time, please enter your answer as a fraction such as 1/8.")
            if "Fraction Ordering" in x.attr2:
                try:
                    fraction = student_answer.split(", ")
                    numbers= []
                    for item in fraction:
                        item = item.split("/")
                        numbers.append(item)
                    numbers2= []
                    for number in numbers:
                        num = int(number[0])
                        denom= int(number[1])
                        answer = num/denom
                        numbers2.append(answer)
                    student_answer = numbers2
                    print(x.student_answer(student_answer))
                except:
                    print("Next time, please enter your answer as a list of fractions separated by commas and a space.")
            else:
                print(x.student_answer(student_answer))

In [20]:
pull_question_no_topic(4, "Computation and Estimation", 4)

Sam has 11 profiles with 16 Fornite skins. How many Fornite skins does he have?

a  140
b  176
c   27
d  112

 a

You didn't get the right answer this time. Keep trying and don't give up!
Batman has 12 bags of 7 M&Ms. Robin has 13 bags of 19 M&Ms. How many M&Ms do they have altogether?

a  466
b   51
c   97
d  331

 d

You got the right answer. Nice work!
What is the least common multiple of 8 and 10?

a  20
b   6
c   9
d  40

 d

You got the right answer. Nice work!
What is the least common multiple of 8 and 8?

a   8
b   3
c   6
d  20

 8

Please type a, b, c, or d.

In [23]:
def pull_question_only_grade(grade_level, num_questions):
    import warnings
    warnings.filterwarnings('ignore')
    temp_df= df.query("Grade_level == {grade_level}".format(standard=standard, grade_level=grade_level, topic=topic))
    temp_df = temp_df.sample(n = num_questions, replace= True)
    for i in range(num_questions):
        target_class = temp_df.iloc[i]['Class']
        x= target_class()
        print(x.print_question())
        try:
            print(x.print_choices())
            student_answer = input()
            print(x.student_answer(student_answer))
        except:
            student_answer = input()
            if "Fraction Addition/Subtraction" in x.attr2:
                try:
                    student_answer= student_answer.split("/")
                    num = int(student_answer[0])
                    denom = int(student_answer[1])
                    student_answer = num/denom
                    print(x.student_answer(student_answer))
                except:
                    print("Next time, please enter your answer as a fraction such as 1/8.")
            if "Fraction Ordering" in x.attr2:
                try:
                    fraction = student_answer.split(", ")
                    numbers= []
                    for item in fraction:
                        item = item.split("/")
                        numbers.append(item)
                    numbers2= []
                    for number in numbers:
                        num = int(number[0])
                        denom= int(number[1])
                        answer = num/denom
                        numbers2.append(answer)
                    student_answer = numbers2
                    print(x.student_answer(student_answer))
                except:
                    print("Next time, please enter your answer as a list of fractions separated by commas and a space.")
            else:
                print(x.student_answer(student_answer))

In [25]:
pull_question_only_grade(4, 1)

Sam has 10 bags of 10 Skittles. Antonio has 6 bags of 17 Skittles. How many Skittles do they have altogether?

a   80
b   43
c  202
d  130

 c

You got the right answer. Nice work!

In [ ]:
pull_question(4, "Computation and Estimation", "Multiplication", 12)

Tyrek has 19 bags of 12 Reese's Pieces. How many Reese's Pieces does he have?
a  209
b   36
c  228
d   31
Nyzir has 5 bags of 10 Skittles. How many Skittles does he have?
a  50
b  90
c  15
d  30
Robin does 10 sit-ups 3 times per day. What is the total number of sit-ups Robin does in 4 days?
a  1,568
b    120
c    608
d     17
Levi has 9 profiles with 3 Fornite skins. How many Fornite skins does he have?
a   12
b  225
c   27
d  120
Katie poured 8 ounces of Gatorade into each of 13 glasses. Exactly how many ounces of Gatorade did Katie pour into all of these glasses?
a   21
b  105
c   96
d  104
Batman does 15 sit-ups 7 times per day. What is the total number of sit-ups Batman does in 10 days?
a     32
b  1,050
c    350
d    480
At a store, Fortnite action figures cost $18 each. Which is closest to the total cost of 31 Fortnite action figures?
a  $1,300
b    $600
c  $1,600
d     $49
Tyrek has 17 bags of 18 Skittles. Antonio has 7 bags of 3 Skittles. How many Skittles do they have altogether?
a   45
b  327
c   44
d  332
Reese has 19 bags of 9 Reese's Pieces. How many Reese's Pieces does she have?
a  182
b   28
c   72
d  171

/solmathdashboard/app/Templates/templates.py:726: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  wrong = np.unique(wrong[wrong!=answer])
/solmathdashboard/app/Templates/templates.py:1155: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  wrong = np.unique(wrong[wrong!=answer])
/solmathdashboard/app/Templates/templates.py:668: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  wrong = np.unique(wrong[wrong!=answer])

In [ ]:
x.attr2

In [ ]:
classes = []
for name, obj in inspect.getmembers(templates):
    if inspect.isclass(obj):
        classes.append(obj)

for i in classes:
    x = i()
    print(x.print_question())

classes

In [ ]:
x.print_question()

In [ ]:
x.student_answer(6)

In [ ]:
class g4_computation_multplication_specific_method():
    def __init__(self):
        
        number1 = random.randint(2, 10)
        number2 = random.randint(2, 10)
        self.answer = number1 * number2
        self.question= "Use {method} to find {number1} X {number2}.".format(method = 'random.choice(methods)', number1 = number1, number2 = number2)
    
    def print_question(self):
        return self.question
    
    def student_answer(self, student_answer):
        if student_answer == self.answer:
            return "You got the right answer. Nice work!"
        if student_answer!= self.answer:
            return "Your answer is incorrect. Please try again!"

In [ ]:
d = g4_computation_multplication_specific_method()

In [ ]:
d.print_question()

In [ ]:
d.student_answer(20)

In [ ]:
number1 = random.randint(1, 10)
number2 = random.randint(1, 10)
number3 = random.randint(1, 10)
number4 = random.randint(1, 10) 
answer = (number1/number2) + (number3/number4)
Fraction(answer)

In [ ]:
number1 = random.randint(1, 10)
number3 = random.randint(1, 10)
Fraction(number1, number3)

In [ ]:
print(placeValue(24, 4))

In [ ]:
def get_digit(number, n):
    return number // 10**n % 10

In [ ]:
get_digit(122.55, -2)

In [ ]:
N = random.randint(1000,1999)

In [ ]:
D= get_digit(N,3)

In [ ]:
print(placeValue(N,D))

In [ ]:
5.55%1

In [ ]:
get_digit(.0510000001, -3)

In [ ]:
math.lcm(2,5,7)

In [ ]:
templates.pull_question("Computation and Estimation", "Multiplication")

In [ ]:
pull_question(4, "Computation and Estimation", "Multiplication", 11)

In [ ]:
def pull_question(grade_level, standard, topic, num_questions):
    classes = []
    for name, obj in inspect.getmembers(templates):
        if inspect.isclass(obj):
            classes.append(obj)

    while num_questions>0:
        i = random.choice(classes)
        x = i()
        if x.attr1 == standard and x.attr2 == topic and x.attr3 == grade_level:
            print(x.print_question(), x.print_choices())
            num_questions = num_questions -1 
        else:
            pass

In [ ]:
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday']
day1= random.randint(0,70)
day2=random.randint(0,70)
day3=random.randint(0,70)
day4=random.randint(0,70)
temperatures = [day1, day2, day3, day4]


plt.plot(days, temperatures)
plt.title('Morning Temperature')
plt.xlabel('Day')
plt.ylabel('Temperature (Degrees F)')
plt.show()

In [ ]:
import numpy as np

In [ ]:
def closest_value(input_list, input_value):
    arr = np.asarray(input_list)
    i = (np.abs(arr-input_value)).argmin()
    return i

In [ ]:
i =closest_value(, 70)
Day[i]

In [3]:
x = g4_estimation_division_running_problem()

40
20
50
30

In [5]:
x = g4_number_sense_decimal_largest_value()

In [6]:
x.print_question()

'Which of the four following numbers is largest? 13.24, 13.96, 13.83, 13.66'

In [7]:
x.print_choices()

a  13.83
b  13.96
c  13.24
d  13.66

In [8]:
x.student_answer('d')

"You didn't get the right answer this time. Keep trying and don't give up!"

In [27]:
x = g4_computation_multiplication_specific_method()

In [28]:
x.print_question()

'Use grouping to find 8 X 4.'

In [29]:
x.choices

[6, 4, 12, 32]

In [30]:
x.print_choices()

a   6
b   4
c  12
d  32

In [28]:
x.student_answer('a')

"You didn't get the right answer this time. Keep trying and don't give up!"

In [71]:
key_words = ["sum", "least common multiple", "product", "total cost", "difference", "common factor", "division", "place value"]
class g4_computation_largest_common_factor_word_problem():
    def __init__(self):
        
        self.attr1 = "Computation and Estimation"
        self.attr2 = "Common Factor"
        self.attr3 = 4
        factor = random.randint(2, 10)
        number1 = random.randint(2,10)*factor
        number2= random.randint(2,10)*factor
        number3= random.randint(2,10)*factor
        common_factors = common_factor(number1, number2, number3)
        self.answer = max(common_factors)
        self.question = "Which number is the largest common factor of {number1}, {number2}, and {number3}?".format(number1 = number1, 
                                                                                        number2= number2, 
                                                                                              number3= number3)
        self.wrong_answers = []
        wrong = np.random.randint(low = 2,high=10,size=12)
        wrong = np.unique(wrong[wrong!=self.answer])
        np.random.shuffle(wrong)
        wrong = wrong[0:3].tolist()
        for i in wrong:
            self.wrong_answers.append(i)
        self.choices = [self.answer] + self.wrong_answers
        random.shuffle(self.choices)
        self.correct_index = self.choices.index(self.answer)
        self.correct_letter = ['a', 'b', 'c', 'd'][self.correct_index]
        
    def print_question(self):
        return self.question
    
    def print_choices(self):
        d = pd.DataFrame(self.choices, ['a', 'b', 'c', 'd'])
        d.columns = ['']
        return d
    
    def student_answer(self, student_answer):
        if student_answer not in ['a', 'b', 'c', 'd']:
            return "Please type a, b, c, or d."
        if student_answer == self.correct_letter:
            return "You got the right answer. Nice work!"
        if student_answer!= self.correct_letter:
            return "You didn't get the right answer this time. Keep trying and don't give up!"

In [90]:
x= g4_computation_largest_common_factor_word_problem()

In [91]:
x.print_question()

'Which number is the largest common factor of 14, 14, and 35?'

In [92]:
x.print_choices()

a  4
b  8
c  7
d  9

In [94]:
x.student_answer('c')

'You got the right answer. Nice work!'

In [24]:
factor = random.randint(2, 10)
number1 = random.randint(2,10)*factor
number2= random.randint(2,10)*factor 
number3= random.randint(2,10)*factor
common_factors = common_factor(number1, number2, number3)
common_factors

[1, 2, 4]

In [ ]:
fraction= '7/8'
num = int(fraction[0])
denom = int(fraction[2])
num/denom

0.875

In [ ]:
for i in range(num_questions):
        target_class = temp_df.iloc[i]['Class']
        x= target_class()
        print(x.print_question())
        try:
            print(x.print_choices())
            student_answer = input()
            print(x.student_answer(student_answer))
            while x.answer != student_answer:
                student_answer = input()
                print(x.student_answer(student_answer))
        except:
            student_answer = input()
            if "Fraction Addition/Subtraction" in x.attr2:
                try:
                    student_answer= student_answer.split("/")
                    num = int(student_answer[0])
                    denom = int(student_answer[1])
                    student_answer = num/denom
                    print(x.student_answer(student_answer))
                    while x.answer != student_answer:
                        student_answer = input()
                        try:
                            student_answer= student_answer.split("/")
                            num = int(student_answer[0])
                            denom = int(student_answer[1])
                            student_answer = num/denom
                            print(x.student_answer(student_answer))
                        except:
                            print("Please enter your answer as a fraction such as 1/8.")
                except:
                    print("Please enter your answer as a fraction such as 1/8.")
                    while x.answer != student_answer:
                        student_answer = input()
                        try:
                            student_answer= student_answer.split("/")
                            num = int(student_answer[0])
                            denom = int(student_answer[1])
                            student_answer = num/denom
                            print(x.student_answer(student_answer))
                        except:
                            print("Please enter your answer as a fraction such as 1/8.")
            if "Fraction Ordering" in x.attr2:
                try:
                    fraction = student_answer.split(", ")
                    numbers= []
                    for item in fraction:
                        item = item.split("/")
                        numbers.append(item)
                    numbers2= []
                    for number in numbers:
                        num = int(number[0])
                        denom= int(number[1])
                        answer = num/denom
                        numbers2.append(answer)
                    student_answer = numbers2
                    print(x.student_answer(student_answer))
                    while x.answer!=student_answer:
                        student_answer = input()
                        try:
                            fraction = student_answer.split(", ")
                            numbers= []
                            for item in fraction:
                                item = item.split("/")
                                numbers.append(item)
                            numbers2= []
                            for number in numbers:
                                num = int(number[0])
                                denom= int(number[1])
                                answer = num/denom
                                numbers2.append(answer)
                            student_answer = numbers2
                            print(x.student_answer(student_answer))
                        except:
                            print("Please enter your answer as a list of fractions separated by commas and a space.")
                except:
                    print("Please enter your answer as a list of fractions separated by commas and a space.")
                    while x.answer!=student_answer:
                        student_answer = input()
                        try:
                            fraction = student_answer.split(", ")
                            numbers= []
                            for item in fraction:
                                item = item.split("/")
                                numbers.append(item)
                            numbers2= []
                            for number in numbers:
                                num = int(number[0])
                                denom= int(number[1])
                                answer = num/denom
                                numbers2.append(answer)
                            student_answer = numbers2
                            print(x.student_answer(student_answer))
                        except:
                            print("Please enter your answer as a list of fractions separated by commas and a space.")
            else:
                print(x.student_answer(student_answer))
                while x.answer != student_answer:
                    student_answer = input()
                    print(x.student_answer(student_answer))